
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>  
  <span>Relay32 UI</span>
  <span class="example-spacer"></span>
  <span>{{deviceInfo.devicename}}</span>
  <span class="example-spacer"></span>
  <span>Uptime: {{deviceInfo.uptime}}, Free memory: {{deviceInfo.freememory}}</span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>  
  <!-- <app-my-sidebar></app-my-sidebar> -->
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/'"> Outputs </a>
      <a mat-list-item [routerLink]="'/inputs'"> Inputs </a>
      <a mat-list-item [routerLink]="'/scheduler'"> Scheduler </a>
      <a mat-list-item [routerLink]="'/settings'"> Settings </a>
      <a mat-list-item [routerLink]="'/system'"> System </a>      
      <!-- <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content flex layout-padding>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
      
      
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>




 