<div class="input-element">
    <div><b>id</b> {{input.id}}</div>
    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input [(ngModel)]="input.name" type="text" matInput placeholder="Input 0">
        </mat-form-field>
    </div>    
    <div>
        <mat-form-field appearance="fill" *ngIf="input.id < 16">
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="input.type" name="btype">
                <mat-option *ngFor="let btype of btypes" [value]="btype.value">
                    {{btype.viewValue}}
                </mat-option>              
            </mat-select>
        </mat-form-field>
        <div *ngIf="input.id > 15">
            Service button
        </div>
    </div>
    <div id="rules">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Rules
                </mat-panel-title>
            </mat-expansion-panel-header>      
            <div *ngFor="let rule of input.rules">
                <mat-form-field appearance="fill">
                    <mat-label>Event</mat-label>
                    <mat-select *ngIf="input.type === 'SW'" [(ngModel)]="rule.event" name="events">
                        <mat-option *ngFor="let event of events" [value]="event.value" [disabled]="event.disabled">
                            {{event.viewValue}}
                        </mat-option>              
                    </mat-select>                    
                    <mat-select *ngIf="input.type != 'SW'" [(ngModel)]="rule.event" name="events" disabled>
                        <mat-option value="toggle">Toggle</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Output</mat-label>
                    <!-- TODO: подумать как сюда запихать список выходов. А еще со слейвами надо подумать... -->
                    <mat-select [(ngModel)]="rule.output" name="output">
                        <mat-option *ngFor="let output of outputs" [value]="output.id">
                            {{output.name}}
                        </mat-option>              
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Action</mat-label>
                    <mat-select [(ngModel)]="rule.action" name="actions">
                        <mat-option *ngFor="let action of actions" [value]="action.value">
                            {{action.viewValue}}
                        </mat-option>              
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="rule.action === 'on'" class="example-full-width" appearance="fill">
                    <mat-label>Duration, sec</mat-label>
                    <input [(ngModel)]="rule.duration" type="number" matInput placeholder="0">
                </mat-form-field>                
                <button mat-raised-button color="primary" (click)="deleteRule(rule)">Delete</button>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            ACL
                        </mat-panel-title>
                    </mat-expansion-panel-header> 
                    <div *ngFor="let acl of rule.acl">
                        <mat-form-field appearance="fill">
                            <mat-label>Type</mat-label>
                            <mat-select [(ngModel)]="acl.type" name="acltype">
                                <mat-option *ngFor="let acltype of acltypes" [value]="acltype.value">
                                    {{acltype.viewValue}}
                                </mat-option>              
                            </mat-select>       
                        </mat-form-field>              
                        <mat-form-field appearance="fill">
                            <mat-label>Input/output</mat-label>   
                            <mat-select [(ngModel)]="acl.io" name="aclIOtype">
                                <mat-option *ngFor="let acliotype of acliotypes" [value]="acliotype.value">
                                    {{acliotype.viewValue}}
                                </mat-option>              
                            </mat-select>
                        </mat-form-field>              
                        <mat-form-field appearance="fill">
                            <mat-label *ngIf="acl.io === 'i'">Input</mat-label>
                            <mat-label *ngIf="acl.io === 'o'">Output</mat-label>                            
                            <mat-select *ngIf="acl.io === 'o'" [(ngModel)]="acl.id" name="aclId">                                
                                <mat-option *ngFor="let output of outputs" [value]="output.id">
                                    {{output.name}}
                                </mat-option>                                                 
                            </mat-select>
                            <mat-select *ngIf="acl.io === 'i'" [(ngModel)]="acl.id" name="aclId">                                
                                <mat-option *ngFor="let input of inputs" [value]="input.id">
                                    {{input.name}}
                                </mat-option>                                                 
                            </mat-select>
                        </mat-form-field>   
                        <mat-form-field appearance="fill">
                            <mat-label>State</mat-label>
                            <mat-select [(ngModel)]="acl.state" name="state">
                                <mat-option *ngFor="let event of events" [value]="event.value">
                                    {{event.viewValue}}
                                </mat-option>              
                            </mat-select>
                        </mat-form-field>
                        <button mat-raised-button color="primary" (click)="deleteAcl(rule, acl)">Delete</button>
                    </div>   
                    <button mat-raised-button color="primary" (click)="addAcl(rule)">Add acl</button>
                </mat-expansion-panel>    
                
            </div>
            <button mat-raised-button color="primary" (click)="addRule()">Add rule</button>
        </mat-expansion-panel>
        
    </div>
</div>